@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --purple:rgb(80,25,122);
  --purple-deg-1:linear-gradient(90deg, #5a2781 0%, rgb(145 58 250) 27%, #571f8a 100%);
  --purple-deg-2:linear-gradient(90deg, #52038e 0%, rgb(77 24 142) 34%, #571f8a 100%);
  --purple-deg-2_opacity:linear-gradient(90deg, rgba(82, 3, 142, 0.7) 0%, rgb(77, 24, 142,0.7) 34%, rgb(87, 31, 138,0.7) 100%);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

#app {
  display: grid;
  grid-template-rows: 70px 1fr;
  width: 100vw;
  height: 100vh;
  background: #f3f4f6;
  gap:20px;

}

.shadow-modal-1{
  box-shadow: 0px 0px 20px 0px #c9c9c9;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  border-radius: 5px;
  
}

::-webkit-scrollbar-track {
  background: #f1f1f1cb;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--purple-deg-2_opacity);
  border-radius: 5px;
  
}

::-webkit-scrollbar-thumb:hover {
  background: var(--purple-deg-2);
}

.icon-primary{
  color:#9e00c6ab
}

.icon-primary:hover{
  color:#9d00c6; 
  background-color: #fcf8fb;
}

.hide-arrow[type="number"]::-webkit-inner-spin-button,
.hide-arrow[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg-purple-1{
  background: var(--purple);
}

.bg-deg-purple-1,.bg-deg-purple-1_hover:hover{
  background: var(--purple-deg-1);
}

.bg-deg-purple-2,.bg-deg-purple-2_hover:hover{
  background: var(--purple-deg-2);
}


.loading-text:before{
  content: "";
  animation-name: loadingText;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2000ms;
}

@keyframes loadingText {
  0% {content: "";}
  33% {content: "." }
  66% {content: "..";}
  100% {content: "...";}
}
